version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

    open-pull-requests-limit: 5

    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

    groups:
      dev-dependencies:
        dependency-type: "development"
      runtime-dependencies:
        dependency-type: "production"
